
// Custom
.btn-primary:focus,
.btn-primary:active {
  box-shadow: none;
  outline: 0px;
}


#video-wall {
    @include media-breakpoint-up(sm) {
        padding: 0;
    }
    @include media-breakpoint-up(xs) {
        padding: 0;
    }

    .video-box{
        @include media-breakpoint-up(xs) {
            @include make-col(12);
        }
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }
        @include media-breakpoint-up(lg) {
            @include make-col(12);
        }
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        @include media-breakpoint-up(xl) {
            @include make-col(4);
        }
        @include media-breakpoint-up(xxl) {
            @include make-col(3);
        }
    }
}
